/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Full Layout Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: black;
}

/* Font Settings */
li, a, button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #E9E8E8;
    transition: 0.5s;
}


/* Container Layout Settings */
/* Page Row Settings */
.container {
    display: grid;
    grid-template-rows: 56px 97vh 100vh 150px;
    grid-template-areas:
            "page-header"
            "page-landing"
            "page-content"
            "page-footer";
}

/* Header Layout Settings */
.header {
    grid-area: page-header;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr minmax(1024px, 1220px) 1fr;
    grid-template-areas:
        "leftside page-navigation rightside";
    justify-content: center;
    background-color: #171717;
    position: fixed;
    align-items: center;
    z-index: 5;
}

/* Navigation Settings */
.navigation {
    grid-area: page-navigation;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 15px;
    align-self: center;
    justify-self: center;
    background-color: #171717;
}
#logo-76 {
    padding: 0 15px;
}
.navigation svg {
    cursor: pointer;
    height: 25px;
    color: #EDEDED;
    transition: 0.5s;
}

.navigation svg:hover {
    cursor: pointer;
    height: 25px;
    color: #DA0037;
}

.navLinks, .iconLinks {
    list-style: none;
    text-decoration: none;
}

.navLinks li, .iconLinks li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #EDEDED;
    transition: 0.5s;
}

.navLinks li a:hover, .iconLinks li a:hover {
    display: inline-block;
    text-decoration: none;
    color: #DA0037;
}

/* Landing Layout Settings */
.landing {
    grid-area: page-landing;
    display: grid;
    grid-template-columns: minmax(512px, 720px) minmax(512px, 720px);
    justify-content: center;
    grid-template-areas:
        "logo ready";
    z-index: 1;
}

#backgroundVideo {
    grid-area: page-landing;
    opacity: 75%;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-color: #171717;
}



.sloganContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
}

.sloganContainer h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 210px;
    color: rgba(233, 232, 232, 95%);
    line-height: 0.8;
    text-align: left;
    transition: 0.5s ;
    padding: 0 0 0 30px;
    width: 100%;
}

.sloganContainer h1:hover {
    color: rgba(233, 232, 232, 15%);
}


.logoContainer {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center; /* aligns content to the right */
    align-items: center;
    height: 100%;
    z-index: 0;
    width: 100%;
    justify-self: right;
}

.logoContainer svg {
    color: rgba(233, 232, 232, 95%);
    align-self: flex-end;
    padding-right: 30px;
    margin-bottom: 20px;
    width: 80%;
    height: auto;
    transition: 0.5s;
    margin-left: 80px;
}

.logoContainer svg:hover {
    color: rgba(233, 232, 232, 15%);
}

.landing-btn {
    cursor: pointer;
    border: 4px solid rgba(233, 232, 232, 95%);
    color: rgba(233, 232, 232, 95%);
    border-radius: 10px;
    padding: 10px 20px;
    background: none;
    margin-right: 30%;
    align-self: flex-end;
    font-size: large;
}

.landing-btn:hover {
    background: rgba(233, 232, 232, 25%);
    font-size: large;

}


/* Content Layout Settings */
.content-container {
    grid-area: page-content;
    background-color: #171717;
}

/* Event Layout Settings */
/*.events {
    display: grid;
    grid-template-columns: 1fr 512px 512px 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
    height: 100%;
}*/

/* Footer Layout Settings */
.footer {
    grid-area: page-footer;
    background-color: #444444;

}